<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-dialecte-heading" data-cy="DialecteCreateUpdateHeading" jhiTranslate="amawalAmazighApp.dialecte.home.createOrEditLabel">
        Create or edit a Dialecte
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="amawalAmazighApp.dialecte.dialecteId" for="field_dialecteId">Dialecte Id</label>
          <input
            type="number"
            class="form-control"
            name="dialecteId"
            id="field_dialecteId"
            data-cy="dialecteId"
            formControlName="dialecteId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="amawalAmazighApp.dialecte.dialecte" for="field_dialecte">Dialecte</label>
          <input type="text" class="form-control" name="dialecte" id="field_dialecte" data-cy="dialecte" formControlName="dialecte" />
        </div>

        <div class="row mb-3">
          <label jhiTranslate="amawalAmazighApp.dialecte.region" for="field_regions">Region</label>
          <select class="form-control" id="field_regions" data-cy="region" multiple name="regions" formControlName="regions">
            <option
              [ngValue]="getSelectedRegion(regionOption, editForm.get('regions')!.value)"
              *ngFor="let regionOption of regionsSharedCollection; trackBy: trackRegionById"
            >
              {{ regionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
