<div>
  <h2 id="page-heading" data-cy="TamazightToLangHeading">
    <span jhiTranslate="amawalAmazighApp.tamazightToLang.home.title">Tamazight To Langs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="amawalAmazighApp.tamazightToLang.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tamazight-to-lang"
        [routerLink]="['/tamazight-to-lang/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="amawalAmazighApp.tamazightToLang.home.createLabel"> Create a new Tamazight To Lang </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tamazightToLangs?.length === 0">
    <span jhiTranslate="amawalAmazighApp.tamazightToLang.home.notFound">No tamazightToLangs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tamazightToLangs && tamazightToLangs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="traductionId">
            <span jhiTranslate="amawalAmazighApp.tamazightToLang.traductionId">Traduction Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="langue.id">
            <span jhiTranslate="amawalAmazighApp.tamazightToLang.langue">Langue</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="amawalWord.id">
            <span jhiTranslate="amawalAmazighApp.tamazightToLang.amawalWord">Amawal Word</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tamazightToLang of tamazightToLangs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tamazight-to-lang', tamazightToLang.id, 'view']">{{ tamazightToLang.id }}</a>
          </td>
          <td>{{ tamazightToLang.traductionId }}</td>
          <td>
            <div *ngIf="tamazightToLang.langue">
              <a [routerLink]="['/langue', tamazightToLang.langue?.id, 'view']">{{ tamazightToLang.langue?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="tamazightToLang.amawalWord">
              <a [routerLink]="['/amawal-word', tamazightToLang.amawalWord?.id, 'view']">{{ tamazightToLang.amawalWord?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tamazight-to-lang', tamazightToLang.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tamazight-to-lang', tamazightToLang.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tamazightToLang)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tamazightToLangs && tamazightToLangs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
